{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}} - Home Control</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/entities.css">
    <link rel="stylesheet" href="/static/css/camera.css">
    <link rel="stylesheet" href="/static/css/screensaver.css">
    <link rel="stylesheet" href="/static/css/settings.css">
    <link rel="stylesheet" href="/static/css/hue.css">
    <link rel="stylesheet" href="/static/css/spotify.css">
</head>
<body>
    <main class="content">
        {{template "content" .}}
    </main>

    <script src="/static/js/utils.js"></script>
</body>
</html>
{{end}}
